---
---
body {
  font-family: "Georgia", "Times New Roman", Times, serif;
  background-color: #fdfdfd; 
  color: #111;
  line-height: 1.7;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;

  /* This is the Patrick Collison "offset" trick */
  max-width: 600px;
  margin-top: 80px;
  margin-bottom: 80px;
  
  /* On large screens, push the content to the right */
  margin-left: 25%; 
  padding-right: 40px;
}

/* On mobile phones, we don't want it pushed to the right */
@media (max-width: 800px) {
  body {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

h1, h2, h3 {
  color: #000;
  font-weight: 400;
  margin-top: 1.5em;
}

a {
  color: #1a5fb4;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

a:hover {
  border-bottom: 1px solid #1a5fb4;
}